* {
  box-sizing: border-box; 
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}
#main {
  display: flex;
  flex: 1;
}
#main > article {
  flex: 1;
}
#main > nav, 
#main > aside {
  flex: 0 0 20vw;
  background: beige;
}

#main > nav {
    order: -1;
  }

header {
    color: #fda843;
    background-color: #8e8e8e;
    height: 20vh;
    text-align: center;
   font-size: 75px;
}
header, article, nav, aside {
  padding: 1em;
}